p {
  font-size: 1.15em;
  font-family: Garamond, Georgia, serif;
}

h1 {
  font-family: Garamond, Georgia, serif;
  border-bottom: 1px solid black;
}
h2 {font-family: Garamond, Georgia, serif;}
h3 {font-family: Garamond, Georgia, serif;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.hangingindent{
  padding-left: 50px ;
  text-indent: -50px ;
}

.condensedlines{
  line-height:1.5;
}

.russiannovel{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:justify
}

.russiannovelnarrow{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  text-align:justify
}